<div class="content">
    <h1>Rejestracja:</h1>

    <form>
        <mat-form-field class="full-width">
            <mat-label>Login *</mat-label>
            <input type="text" matInput [formControl]="loginFormControl" #loginInput>
            <mat-error *ngIf="loginFormControl.hasError('maxlength') && !loginFormControl.hasError('required')">
                Max 10 znaków
            </mat-error>
            <mat-error *ngIf="loginFormControl.hasError('required')">
                Login nie może być pusty
            </mat-error>
        </mat-form-field>
        <br> <br>
        <mat-form-field class="full-width">
            <mat-label>Hasło *</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" #passwordInput>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
                Max 20 znaków
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Hasło nie może być puste
            </mat-error>
        </mat-form-field>
        <br> <br>
        <mat-form-field class="full-width">
            <mat-label>Powtórz hasło *</mat-label>
            <input type="password" matInput [formControl]="password2FormControl" #password2Input>
            <mat-error *ngIf="password2FormControl.hasError('maxlength') && !password2FormControl.hasError('required')">
                Max 20 znaków
            </mat-error>
            <mat-error *ngIf="password2FormControl.hasError('required')">
                Powtórz hasło
            </mat-error>
        </mat-form-field>
        <br> <br>
        <mat-form-field class="full-width">
            <mat-label>Imię *</mat-label>
            <input type="text" matInput [formControl]="imieFormControl" #imieInput>
            <mat-error *ngIf="imieFormControl.hasError('maxlength') && !imieFormControl.hasError('required')">
                Max 20 znaków
            </mat-error>
            <mat-error *ngIf="imieFormControl.hasError('required')">
                Imię nie może być puste
            </mat-error>
        </mat-form-field>
        <br> <br>
        <mat-form-field class="full-width">
            <mat-label>Nazwisko *</mat-label>
            <input type="text" matInput [formControl]="nazwiskoFormControl" #nazwiskoInput>
            <mat-error *ngIf="nazwiskoFormControl.hasError('maxlength') && !nazwiskoFormControl.hasError('required')">
                Max 30 znaków
            </mat-error>
            <mat-error *ngIf="nazwiskoFormControl.hasError('required')">
                Nazwisko nie może być puste
            </mat-error>
        </mat-form-field>
        <br> <br>
        <mat-form-field class="full-width">
            <mat-label>E-mail *</mat-label>
            <input type="text" matInput [formControl]="emailFormControl" placeholder="np. email@wp.pl" #emailInput>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Wprowadź poprawny adres e-mail
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                E-mail nie może być pusty
            </mat-error>
        </mat-form-field>
        <br> <br>
        <button mat-stroked-button [disabled]="!loginFormControl.valid || !passwordFormControl.valid
        || !password2FormControl.valid || !imieFormControl.valid || !nazwiskoFormControl.valid
         || !emailFormControl.valid" (keyup.enter)="register()" (click)="register()">Zarejestruj</button>
    </form>

    <jw-modal id="passwordErrorModal">
        <h2>Hasła nie są identyczne</h2>
        <p>Wprowadź ponownie hasła</p>
        <button mat-stroked-button (click)="closeModal('passwordErrorModal');">Zamknij</button>
    </jw-modal>

    <jw-modal id="loginErrorModal">
        <h2>Login zajęty</h2>
        <p>Wybierz inny login</p>
        <button mat-stroked-button (click)="closeModal('loginErrorModal');">Zamknij</button>
    </jw-modal>

</div>