<div class="content">
    <h1>Zamówienia</h1>

    <hr>

    <div class="filter">
        <mat-form-field>
            <mat-label>Filtruj</mat-label>
            <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Np. Stan" #input>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="{{def.key}}" *ngFor="let def of tableDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{def.header}} </th>
            <td mat-cell *matCellDef="let element"> {{element[def.key]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    [style.height]="element.expanded ? 'unset' : '0 !important'">
                    <div class="example-element-diagram">
                        <div class="example-element-symbol">
                            <div class="row">

                                <div class="columnLeft">
                                    <b>Zamówienie:</b><br>
                                    <hr>
                                    Klient: {{element.uzytkownik.imie}}
                                    {{element.uzytkownik.nazwisko}}
                                    <div class="marginBot"></div>
                                    <div class="price">
                                        Cena: {{element.suma_cen}}zł
                                    </div>

                                    <div class="changeState">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Stan</mat-label>
                                            <mat-select [(value)]="selectedState">
                                                <mat-option *ngFor="let state of states" [value]="state.value">
                                                    {{state.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <button mat-stroked-button color="accent"
                                        (click)="saveState(element)">Zapisz</button>
                                </div>

                                <div class="columnRight">
                                    <b>Dania:</b><br>
                                    <div *ngFor="let danie of element.dania">
                                        <hr>
                                        Nazwa:
                                        <div style="font-style: italic; display: inline;">
                                            {{danie.nazwa}}
                                        </div>
                                        <div class="marginBot"></div>
                                        Składniki: {{danie.skladniki}}
                                        <div class="marginBot"></div>
                                        <div class="price">
                                            Cena: {{danie.cena}}zł<br><br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <div class="orderPaginator mat-elevation-z8">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


</div>