<div class="content" #pdfDiv>

    <h1>10 ostatnich zamówień</h1>

    <hr>

    <table mat-table [dataSource]="clientOrders" class="mat-elevation-z8">
        <ng-container matColumnDef="zamowienie_id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.zamowienie_id}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <ng-container matColumnDef="suma_cen">
            <th mat-header-cell *matHeaderCellDef> Koszt </th>
            <td mat-cell *matCellDef="let element"> {{element.suma_cen}} </td>
        </ng-container>

        <ng-container matColumnDef="stan">
            <th mat-header-cell *matHeaderCellDef> Stan </th>
            <td mat-cell *matCellDef="let element"> {{element.stan}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<div class="content"> <button mat-button (click)="exportAsPDF()">Zapisz jako PDF</button></div>