<div class="content" #pdfDiv>

    <h1>Moje zamówienia</h1>
    <hr>
    <table mat-table [dataSource]="clientOrders" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="zamowienie_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.zamowienie_id}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <ng-container matColumnDef="suma_cen">
            <th mat-header-cell *matHeaderCellDef> Koszt </th>
            <td mat-cell *matCellDef="let element"> {{element.suma_cen}} zł </td>
        </ng-container>

        <ng-container matColumnDef="dania">
            <th mat-header-cell *matHeaderCellDef> Dania </th>
            <td mat-cell *matCellDef="let element">
                <div style="margin-top: 5px; margin-bottom: 5px;">
                    <div *ngFor="let danie of element.dania">
                        {{danie.nazwa}}
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="stan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stan </th>
            <td mat-cell *matCellDef="let element"> {{element.stan}} </td>
        </ng-container>

        <ng-container matColumnDef="adres">
            <th mat-header-cell *matHeaderCellDef> Adres </th>
            <td mat-cell *matCellDef="let element"> {{element.adres}} </td>
        </ng-container>

        <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let element"> {{element.telefon}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="orderPaginator mat-elevation-z8">
        <mat-paginator [pageSizeOptions]="[5, 10, 1]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<div class="saveBtn content">
    <button mat-button (click)="exportAsPDF()">Zapisz jako PDF</button>
</div>