<div class="content">
  <h1>Logowanie:</h1>

  <form>
    <mat-form-field class="full-width">
      <mat-label>Login</mat-label>
      <input matInput name="login" [formControl]="loginFormControl" #loginInput>
      <mat-error *ngIf="loginFormControl.hasError('maxlength') && !loginFormControl.hasError('required')">
        Max 10 znaków
      </mat-error>
      <mat-error *ngIf="loginFormControl.hasError('required')">
        Login nie może być pusty
      </mat-error>
    </mat-form-field>

    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" name="password" #passwordInput>
      <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
        Max 20 znaków
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Hasło nie może być puste
      </mat-error>
    </mat-form-field>

    <br><br>
    <button mat-stroked-button [disabled]="!loginFormControl.valid || !passwordFormControl.valid"
      (keyup.enter)="login()" (click)="login()">Zaloguj</button>
  </form>

  <br>

  <jw-modal id="loginErrorModal">
    <h2>Zły login lub hasło</h2>
    <p>Wprowadź ponownie dane</p>
    <button mat-stroked-button (click)="closeModal('loginErrorModal');">Zamknij</button>
  </jw-modal>

</div>