.content {
    width: 1400px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.menu {
    margin-top: 5px;
}

table {
    margin: 0px auto 0px auto;
    width: 80%;
    text-align: left;
}

img {
    border-radius: 10%;
}

.columnLeft {
    flex: 80%;
}

.mat-list .mat-list-item {
    height: 25px;
}

.columnRight {
    margin-left: 25px;
    width: auto;
}

.orderList {
    padding: 15px;
    position: relative;

    border-style: solid;
    border-color: #212121;
    border-width: 1px;
    background-color: #424242;
    width: 400px;
    border-radius: 10px;
}

.inline {
    display: inline;
}

.example-card {
    width: 290px;
}

.example-header-image {
    // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.canvasChart {
    display: block;
    margin: 30px 30px 10px 30px;
}

.filter {
    margin: 0px auto 0px auto;
    width: 80%;
}

.paginator {
    margin: 0px auto 50px auto;
    width: 80%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(100, 99, 99);
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #3a3939;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    // border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    // height: 104px;
}

.example-element-symbol {
    // font-weight: bold;
    font-size: 16px;
    line-height: normal;
}
