<div class="content">
    <div *ngIf="loggedUser!=null && recommendations.length>0">
        <h1>Rekomendacje</h1>
        <hr>
        <mat-grid-list cols="{{tilesColumnNumber}}" rowHeight="550px">
            <div *ngFor="let element of recommendations">
                <mat-grid-tile>
                    <mat-card class="card">
                        <mat-card-header>
                            <mat-card-title>{{element.nazwa}}</mat-card-title>
                            <mat-card-subtitle>{{element.kategoria}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="element.zdjecie" width="300" height="200">
                        <mat-card-content>

                            <b>Składniki:</b>
                            <hr>
                            <div class="dishIngredients">
                                {{element.skladniki}}
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="alignBot" mat-stroked-button color="accent"
                                (click)="addDishToOrder(element)">Dodaj do
                                zamówienia</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>

    <div class="row">
        <div class="columnLeft">
            <div class="menu">
                <h1>Menu</h1>
                <hr>
                <div class="filter">
                    <mat-form-field>
                        <mat-label>Filtruj</mat-label>
                        <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Np. Nazwa" #input>
                    </mat-form-field>
                </div>

                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
                    <ng-container matColumnDef="{{def.key}}" *ngFor="let def of tableDef">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{def.header}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[def.key]}} <div class="inline"
                                *ngIf="def.header=='Cena'">zł</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                                [style.height]="element.expanded ? 'unset' : '0 !important'">
                                <div class="element-diagram">
                                    <div class="element-symbol">
                                        <div class="row">
                                            <div class="menuColumnLeft">
                                                <img [src]="element.zdjecie" width="300" height="200" />
                                            </div>
                                            <div class="columnRight">
                                                <b>Składniki:</b>
                                                <hr>
                                                {{element.skladniki}} <br><br><br>
                                                <b>Kalorie:</b>
                                                <hr>
                                                {{element.kalorie}}kcal na 100g
                                                <br><br>
                                                <button mat-stroked-button color="accent"
                                                    (click)="addDishToOrder(element)">Dodaj do zamówienia</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
                        [class.expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>

                <div class="paginator mat-elevation-z8">
                    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>

            <br>
            <h2>Średnia kaloryczność dań dla kategorii (kcal na 100g)</h2>
            <hr>

            <div class="canvasChart">
                <canvas baseChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" [legend]="false" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>

        <div class="orderList columnRight">
            <h2>Zamówienie</h2>
            <hr>
            <mat-list role="list">
                <div *ngFor="let element of currentOrder">
                    <mat-list-item role="listitem">
                        - {{element.nazwa}} ({{element.cena}}zł)
                        <button style="margin-left: auto;" mat-icon-button (click)="deleteDishFromOrder(element)">
                            <span class="material-icons"> delete </span>
                        </button>
                    </mat-list-item>
                </div>
                <button [disabled]="!isCurrentOrder()" style="margin-top: 12px; float: right; width: 100%;"
                    mat-stroked-button color="accent" (click)="submitOrder()">Zamów</button>
            </mat-list>

        </div>
    </div>
</div>