<div class="colorBar">

  <div class="topBar">
    <div class="loginBarLeft">
      <button mat-button (click)="loadTheme('orangeTheme.css')">
        <mat-icon class="orangeIcon">color_lens</mat-icon>
      </button>
      <button mat-button (click)="loadTheme('blueTheme.css')">
        <mat-icon class="blueIcon">color_lens</mat-icon>
      </button>
      <button mat-button (click)="loadTheme('purpleTheme.css')">
        <mat-icon class="purpleIcon">color_lens</mat-icon>
      </button>
    </div>

    <div class="loginBarRight">
      <div *ngIf="user!=null; else noUser" id='loginBarInline'>
        {{user.imie}} {{user.nazwisko}}
      </div>

      <div *ngIf="user==null; else noUser" (click)="logIn()" id="loginBarText">zaloguj</div>
      <div *ngIf="user==null; else noUser" (click)="createUser()" id="loginBarInline">
        &nbsp;|
        <div id="loginBarText">utwórz konto</div>
      </div>
      <div *ngIf="user!=null; else noUser" id="loginBarInline">
        &nbsp;|
        <div (click)="userInfo()" id="loginBarText">konto</div>
      </div>

      <div *ngIf="user!=null; else noUser" (click)="logout()" id="loginBarInline">
        &nbsp;|
        <div id="loginBarText">wyloguj</div>
      </div>

      <ng-template #noUser></ng-template>
    </div>
  </div>

  <div class="banner">
    <img class="bannerImage" src="assets\images\banner.jpg">
    <div class="name">
      <h1>Buongiorno Moltissimo</h1>
    </div>
  </div>

  <div class="navbar">
    <button mat-button (click)="home()">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button (click)="menu()">
      <mat-icon> restaurant_menu</mat-icon> Menu
    </button>
    <button mat-button (click)="contact()">
      <mat-icon> phone</mat-icon> Kontakt
    </button>

    <div *ngIf="user!=null && user.czy_pracownik" id='loginBarInline'>
      <button mat-button [matMenuTriggerFor]="menu2">
        <mat-icon>person</mat-icon> Pracownik
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="showOrders()">
          <mat-icon>library_books</mat-icon>Zamówienia
        </button>
        <button mat-menu-item (click)="addDish()">
          <mat-icon>control_point</mat-icon>Dodaj danie
        </button>
      </mat-menu>
    </div>

    <div *ngIf="user!=null && user.czy_pracownik==false" id='loginBarInline'>
      <button mat-button (click)="clientOrders()">
        <mat-icon> menu_book </mat-icon> Moje zamówienia
      </button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<div class="footer">
  Created by: Daniel Ch.<br>
  v3.1.2021
</div>