<div class="colorBar">

  <div class="loginBarLeft">
    Bieruń, ul. Krakowska 98
  </div>

  <div class="loginBarRight">
    Imię Nazwisko | <div (click)="createUser()" id="loginBarText">konto</div> |
    <div (click)="showUsers()" id="loginBarText">wyloguj</div>
  </div>

  <div class="banner">
    <img class="bannerImage" src="assets\images\banner.jpg">
    <div class="name">
      <h1>Buongiorno Moltissimo</h1>
    </div>
  </div>

  <div class="navbar">
    <button mat-button (click)="home()">Home</button>
    <button mat-button (click)="logIn()">Zaloguj</button>

    <button mat-button [matMenuTriggerFor]="menu2">Konto</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="showUsers()">Wyświetl użytkowników</button>
      <button mat-menu-item (click)="createUser()">Dodaj użytkownika</button>
    </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  Created by: Daniel Ch.<br>
  v1.2020
</div>