.content {
    min-height: 550px;
    width: 800px;
}

.tekst {
    padding-top: 30px;
}

img {
    border-radius: 20px;
}

.verticalSpace {
    margin-top: 40px;
}

.verticalSpace2 {
    margin-top: 95px;
}
