<div class="content">
    <h1>O nas</h1>

    <hr>

    <div class="text">
        <img style="margin: 0px 30px 0px 0px ; width: 40%; height: 40%; float:left; "
            src="assets\images\vegetables.jpg">
        <div class="verticalSpace"></div>
        W restauracji Buongiorno Moltissimo zajmujemy się dowozem posiłków przygotowywanych w naszej kuchni
        wyłącznie z najświeższych składników.
        <br><br>
        Codziennie otrzymujemy dostawy żywności, aby jakość serwowanych dań była jak najwyższa.
        <div class="verticalSpace"></div>

        <img style="margin: 0px 0px 0px 30px ; width: 40%; height: 40%; float:right; " src="assets\images\dish.png">
        <div class="verticalSpace2"></div>
        Nasi szefowie kuchni są autorami wszystkich potraw, a żaden z ich składników nie jest przypadkowy.
        <br><br>
        W ofercie mamy zarówno zwykłe dania, jak i dania specjalne, które cechują się bardziej intensywnym smakiem.
    </div>
    
</div>