.content {
  padding-bottom: 80px;
}

.columnLeft {
  width: 45%;
}

.columnRight {
  margin-left: auto;
  width: 45%;
}

.full-width {
  width: 100%;
}

.dishList {
  padding: 3px;
}

.padding {
  padding: 3px;
}

.floatRight {
  float: right;
}
