@import "~@angular/material/theming";
@include mat-core();

$myTheme-primary: mat-palette($mat-blue, 400);
$myTheme-accent: mat-palette($mat-red);
$myTheme-warn: mat-palette($mat-red);
$myTheme: mat-dark-theme($myTheme-primary, $myTheme-accent, $myTheme-warn);
@include angular-material-theme($myTheme);

.colorBar {
  background-color: #004c8c;
}

.navbar {
  background-color: #0277bd;
  text-align: center;
}

.footer {
  background-color: #0277bd;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}