.colorBar {
  background-color: #004c8c;
}

.navbar {
  background-color: #0277bd;
  text-align: center;
}

.footer {
  background-color: #0277bd;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}