.colorBar {
    background-color: #38006b;
}

.navbar {
    background-color: #6a1b9a;
    text-align: center;
}

.footer {
    background-color: #6a1b9a;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}