@import "~@angular/material/theming";
@include mat-core();
$myTheme-primary: mat-palette($mat-purple, 400);
$myTheme-accent: mat-palette($mat-purple, 400);
$myTheme-warn: mat-palette($mat-red);
$myTheme: mat-dark-theme($myTheme-primary, $myTheme-accent, $myTheme-warn);
@include angular-material-theme($myTheme);

.colorBar {
    background-color: #38006b;
}

.navbar {
    background-color: #6a1b9a;
    text-align: center;
}

.footer {
    background-color: #6a1b9a;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}